$blue-color: #007bff;
$grey-color: #aaa;
$dark-grey-color: #ccc;
$light-grey-color: #eee;

.Card {
  background: #fff;
  border: 1px solid $dark-grey-color;
  border-radius: 3px;
  padding: 6px 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &-header {
    padding: 4px;
    margin-bottom: 14px;
    border-bottom: 1px solid $light-grey-color;
    user-select: none;

    h4 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 0.5px;
      color: $grey-color;
      font-weight: 400;
    }
  }
}

.cover-canvas-wrapper{
  .cover-canvas{
    width: 100%;
    padding: 15px;
  }
  .cover-img{
    display: none;
  }
}

.avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
  input {
    display: none;
    + label {
      display: inline-block;
      width: 34px;
      height: 34px;
      margin-bottom: 0;
      border-radius: 100%;
      background: #FFFFFF;
      border: 1px solid transparent;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      font-weight: normal;
      transition: all .2s ease-in-out;
      &:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
      }
      &:after {
        content: '';
        background: url("./assets/images/edit.svg") no-repeat center;
        background-size: 17px;
        color: #757575;
        position: absolute;
        width: 32px;
        height: 32px;
      }
    }
  }
}